.App-header {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.74);
  padding: 20px;
  color: #fff; /* Ensure text is visible against the dark background */
}

.menu-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.menu-photo {
  width: 90%; /* Adjust based on your preference for mobile layout */
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 20px; /* Add some space below each image */
}

/* Media query for devices wider than 600px */
@media (min-width: 600px) {
  .menu-photo {
    width: 45%; /* Show two images per row on larger screens */
  }
}

/* Optional: Media query for even larger devices */
@media (min-width: 1024px) {
  .menu-photo {
    width: 40%; /* Show three images per row on desktops */
  }
}
